.contact-us {
    margin: 0px;
    background-color: #3c3c3c;
    width: 100%;
    height: 800px;
    padding: auto;
}

.contact-us-container {
    width: 80%;
    height: 600px;
    max-width: 600px;
    background-color: white;
    margin: auto;
    padding: 50px;
    position: relative;
    top: 100px;
}

.contact-us-container div {
    margin-top: 10px;
}

.main-header {
    width: 100%;
    height: 50px;
}

.main-email {
    height: 75px;
    width: 100%;
}

.first-name {
    width: 47.5%;
    height: 75px;
    float:left;
}

.last-name {
    width:47.5%;
    height: 75px;
    float:right;
}

.message {
    width: 100%;
    height: 160px;
    clear: both;
    position: relative;
    top: 10px;
}

.main-footer {
    width: 100%;
    height: 50px;
    position: relative;
    top: 10px;
}

.main-header h4 {
    margin-top: 1px;
    font-size: 40px;
}

.contact-us p {
    font-size: 20px;
    margin-bottom: 0px;
}

.main-email input {
    padding: 8px 0px 8px 15px;
    box-sizing: border-box;
    margin-top: 5px;
    width: 100%;
    margin: auto;
    border: 1px solid gray;
    height: 40px;
    border-radius: 5px;
}

.first-name p{
    margin: 0px;

}

.first-name input {
    padding: 8px 0px 8px 15px;
    box-sizing: border-box;
    margin-top: 5px;
    width: 100%;
    margin: auto;
    border: 1px solid gray;
    height: 40px;
    border-radius: 5px;
}

.last-name p{
    margin: 0px;

}

.last-name input {
    padding: 8px 0px 8px 15px;
    box-sizing: border-box;
    margin-top: 5px;
    width: 100%;
    margin: auto;
    border: 1px solid gray;
    height: 40px;
    border-radius: 5px;
}

.message textarea {
    width: 100%;
    margin: auto;
    border: 1px solid gray;
    height: 120px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 8px;
}

.main-footer input{
    accent-color: gray;
}

.main-footer form{
    font-size: 20px;
    float: left;
    position: absolute;
    top: 10px;
}

.main-footer button{
    font-size: 25px;
    background-color: #dcb000;
    float: right;
    border-radius: 3px;
    border: none;
    color: white;
    width: 35%;
    height: 80%;
}